*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
../.idea/
../.DS_Store
*.DS_Store
/build
/captures
.idea/

Upopular/.idea/vcs.xml

Upopular/.idea/gradle.xml

Upopular/.idea/misc.xml
